[build]
builder = "NIXPACKS"

[deploy]
startCommand = "python manage.py migrate && python bot.py"
healthcheckPath = "/api/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
